<div id="map" class="map content_map">
    <div class="group_btn">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <div style="display: flex; justify-content: flex-end;">
                        <button type="button" class="btn btn-round color-yellow mb-3" [routerLink]="['/maintable']"><img src="assets/icon/list.png" class="btn-icon"> รายการ</button>
                    </div>
                </div>
                <div class="col col-12">
                    <div style="display: flex; justify-content: flex-end;">
                        <button *ngIf="!btnShare" type="button" class="btn btn-round color-red mb-3" data-toggle="modal" data-target="#modalContent"><img src="assets/icon/pin.png" class="btn-icon"> แบ่งปันข้อมูล</button>
                    </div>
                </div>
                <div class="col col-12">
                    <div style="display: flex; justify-content: flex-end;">
                        <button *ngIf="btnShare" type="button" class="btn btn-round color-red mb-3" [routerLink]="['/mainform']"><img src="assets/icon/pin.png" class="btn-icon"> แบ่งปันข้อมูล</button>
                    </div>
                </div>
                <div class="col col-12">
                    <div style="display: flex; justify-content: flex-end;">
                        <button *ngIf="btnShare" type="button" class="btn btn-round color-white mb-3" (click)="signOut()"><img src="assets/icon/logout.png" class="btn-icon"> ออกระบบ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Login Content -->
    <div class="modal_content">
        <!-- Modal -->
        <div class="modal fade" id="modalContent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">เข้าสู่ระบบก่อนแบ่งปันข้อมูล</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <button type="button" (click)="signInWithFB()" *ngIf="loggedIn===false" class="btn btn-round color-facebook my-2 w-100">Sign In With Facebook</button>

                        <button type="button" (click)="signInWithGoogle()" *ngIf="loggedIn===false" class="btn btn-round color-google my-2 w-100">Sign In With Google</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"> </div>
</div>