button,
p,
span,
h5,
a {
    font-family: 'Prompt'!important;
}

#map {
    width: 100vw;
    height: 100vh;
}

.content_map {
    position: relative;
}

// Colors
.color {
    &-yellow {
        background-color: #F7EA48;
    }
    &-red {
        background-color: #E73C3E;
        color: #ffffff;
    }
    &-white {
        background-color: #ffffff;
        color: #333333;
    }
    &-facebook {
        background-color: #3b5998;
        color: #ffffff;
    }
    &-google {
        background-color: #DB4437;
        color: #ffffff;
    }
}

// Button Style
.btn-round {
    border-radius: 50px;
    font-size: 14px;
}

.btn-icon {
    width: 15px;
    height: auto;
}

.group_btn {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    padding: 8% 0%;
    display: flex;
    justify-content: flex-end;
}

// -- ol map popup --
.ol-popup {
    font-family: 'Prompt'!important;
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
    z-index: 10;
}

.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}