button,
p,
span,
h5,
a {
    font-family: 'Prompt'!important;
}

.btn-back-m {
    display: none;
    float: left;
    width: 25px;
    height: auto;
    margin-right: 15px;
    margin-top: 3px;
}

.text-detail {
    display: -webkit-box;
    height: 68px;
    margin: 0 auto;
    white-space: initial;
    font-size: 14px;
    line-height: 22px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Small devices (landscape phones, less than 768px)
@media screen and (max-width: 767.98px) {
    .btn-back-m {
        display: block;
    }
}